.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

html, body {
    height: 100%;
}

#ct {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#actions-panel {
    border-bottom: 1px solid #BBB;
}

#plan-panel {
    height: 100%;
}

#resource-panel {
    border: none;
    overflow: auto;
    height: 100%;
}

#map-panel {
    border: none;
}

#orders-panel {
    border: none;
}

.map-toggler-south-closed {
    background: url(../img/toggle-up.gif) no-repeat center bottom;
}

.map-toggler-south-open {
    background: url(../img/toggle-dn.gif) no-repeat center top;
}

.orders-toggler-east-closed {
    background: url(../img/toggle-op.gif) no-repeat center bottom;
}

.orders-toggler-east-open {
    background: url(../img/toggle-cl.gif) no-repeat center top;
}

#kpi-panel {
    border-bottom: 1px solid #BBB;
}

#date-picker-panel {
    width: 250px;
    height: 25px;
    border-right: 1px solid #BBB;
    position: absolute;
}

#orders-toolbar-panel {
    height: 25px;
    width: 100%;
    border-bottom: 1px solid #BBB;
}

/* TIMESCALE */

#timescale-panel {
    overflow: hidden;
}

#timescale-panel #timescale_date_content {
    height: 12px;
    border-bottom: 1px solid #999999;
}

#timescale-panel #timescale_content {
    height: 12px;
}

#timescale-panel .timescale_value {
    font: 10px Arial;
    float: left;
    border-left: 1px solid black;
    overflow: hidden;
    height: 12px;
}

#timescale-panel .timescale_minutes {
    font: 8px Arial;
    letter-spacing: 1px;
    padding-left: 1px;
    vertical-align: top;
}

#timescale-panel .timescale_date {
    height: 100%;
    float: left;
    color: #000000;
    text-align: center;
    font-size: 10px;
}

/* ZOOM */

#zoom {
    height: 23px;
    width: 150px;
    float: right;
}

#zoom .zoom-icon {
    width: 18px;
    height: 18px;
    float: left;
    margin: 3px 1px 2px;
}

#zoom .zoom-step {
    width: 24px;
    height: 18px;
    border: 1px dotted green;
    float: left;
    margin: 3px 1px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
}

#zoom .zoom-step:hover {
    border: 1px dashed green;
}

#zoom .zoom-step.active {
    border: 1px solid green;
    cursor: default;
}

#zoom .zoom-step.inactive {
    border: 1px dotted lightgray;
    cursor: not-allowed;
}

/* VEHICLE PANEL */
#vehicle-panel {
    border-right: 1px solid #BBB;
    height: 100%;
}

#vehicle-card-panel {
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

#vehicle-toolbar-panel {
    /*border-bottom: 1px solid #BBB;*/
}

#vehicle-panel .vehicle {
    height: 64px;
    margin-bottom: 1px;
    background-color: powderblue;
}

/* SCHEDULE PANEL */
#schedule-panel {
    height: 100%;
}

#time-line-panel {
    overflow: auto;
}

#time-line-panel .time-line {
    height: 64px;
    width: 2000px;
    float: left;
    margin-bottom: 1px;
    background-color: beige;
}







